.top-bar {
  background-color: $nav-background;

  ul {
    background-color: $nav-background;
    li {
      a {
        display: inline;
      }
      .active-link {
        font-weight: bold;
      }
    }
  }

  .menu-text {
    color: $nav-text;
  }
}
